<!--
Following Things Should be noted:
The results in the parentheses should always ne of type string.
Or like number age which can be easily converted from number to string.
We cannot have block strings or use if-else here, though ternary operator is allowed.
You can also call a methos which returns string.
Bottom line everything aand anything which gives us string can be used here

-->
<h4>Returning Random String</h4>
<p>
	Welcome to the {{'string-interpolation-example'}}. I am example of using any random string in parentheses.
</p>
<br>
<h4>Outputting both string and number type property value</h4>
<p>We will try to output the property name here:{{name}}  and property age here: {{age}}. Awesome, ain't it? The property with type number is converted to string and dispalyed here</p>
<br>
<h4>Outputting string returned from the method</h4>
<p>Time to look at a method which returns string {{ getName() }}</p>